html{

}

#global-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Banner{
    width: auto;
    height: 350px;
    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: end;
    a{
        background-color: white;
        padding: 1rem;
    }

    p{
    }
}

 

#main{
    display: flex;
    flex-wrap: wrap;
}


#populære-produkter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    h2, p{
        width: 100%;
    }
}

.tre-valg{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    border: 2px solid black;
    
    h3{
        text-align: center;
    }

    
}


.produkt-kort{
    display: flex;
    flex-direction: column;


    img{
        width: 100%;
        height: 100%;
    }
}

.kategori-kort
{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 5rem;


    h3{
        align-items: center;
    }
    
}

.Snarveier{

    ul{
        list-style: none;
    }
}


.sosiale-medier{

    ul{
        list-style: none;
        text-decoration: none;

        a{
            color: black;

        }
    }
}