
.grid-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
#global-header{
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        color: black;
        gap: 2rem;
    }
    
}

#Logo{
    font-size: 30px;
}

#global-header nav ul{
    text-decoration: none;
    list-style: none;
    padding: 0rem;
}

#Banner{
    width: auto;
    height: 350px;
    background-color: gray;
    display: flex;
    align-items: end;
    flex-direction: column;
    a{
        align-items: end;
        background-color: white;
        padding: 1rem;
    }

    p{
        align-items: end;
    }
}

 

#main{
    display: flex;
    flex-wrap: wrap;
}


#populære-produkter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    h2, p{
        width: 100%;
    }
}

.tre-valg{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    border: 2px solid black;
    
    h3{
        text-align: center;
    }

    
}


.produkt-kort{
    display: flex;
    flex-direction: column;


    img{
        width: 100%;
        height: 100%;
    }
}

.kategori-kort
{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 6rem;
    margin-bottom: 1rem;
    align-items: flex-start;

    h3{
        margin: 0;
    }

    img{
        width: 150px;
        height: auto;
    }
    
}

.Snarveier{

    ul{
        list-style: none;
    }
}


.sosiale-medier{

    ul{
        list-style: none;
        text-decoration: none;

        a{
            color: black;

        }
    }
}


main > nav > ol{
    display: flex;
    gap: 1rem;
}

.wedding-dress{
    flex-direction: column;
    flex-wrap: wrap;
   
    img{
        width: 70%;
        height: 70%;
    }
}

.wedding-dress article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

}

main > aside {
    flex-direction: column;

    img{
        width: 100%;
        height: 100%;
    }
}

.shopping-bag{
    flex-direction: column;
    flex-wrap: wrap;

    img{
        text-align: center;
        width: 100%;
        height: 100%;
    }
}


.shopping-bag article{
    padding: 0.5rem;
}


.opplysninger{
    display: flex;
    flex-wrap: wrap;

    form{
        display: flex;
        flex-direction: column;
        width: 300px;

    }
    form > input{
        flex-wrap: wrap;
        padding: 1rem;
        margin: 0.3rem;
    }

    form > #Lagre{
        height: auto;
        width: 100%;
    }


}

.leveringsvalg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    form label{
        display: flex;
        flex-direction: row;
    }
}

.betaling{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    form label{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    form input{
        flex-wrap: wrap;
        padding: 1.2rem;
    }

    form #Utløpsdato{
        width: auto;
    }

    button{
        width: 100px;
        height: 50px;
        background-color: darkgray;
    }

    .å-betale form {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }
}

@media only screen and (min-width: 800px) {

    #global-header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;


    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

        form{
            display: flex;
            flex-direction: row;
            
        }

        button{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        

        nav ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            gap: 7rem;
        }
    }

    .logo-section{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .sosiale-medier ul{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    
    .populære-produkter{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

    }

    .produkt-kort{
        display: flex;
        flex-direction: column;
        flex: 1 1 30%;
        flex-basis: 33%;
        box-sizing: border-box  ;
        
    }


    .tre-valg{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;


    }


    .lignende-produkter{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;



    article{
        display: flex;
        flex-direction: column;
        flex: 1 1 30%;
        flex-basis: 33%;
        box-sizing: border-box  ;
        max-width: 350px;
    }



    }

    .container{
        display: flex;
        flex-grow: 0;
    }

    .wedding-dress{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        max-width: 750px;
        gap: 0.5rem;
    

    img{
        height: 100%;
        width: 100%;
    }

    .stor-bilde{
        max-height: 600px;
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .liten-bilde-1{
        max-height: 250px;
        max-width: 300px;
        grid-column: 1;
        grid-row: 2;
    }

    .liten-bilde-2{
        grid-column: 2;
        grid-row: 2;
        max-height: 250px;
        max-width: 300px;
    }

    .liten-bilde-3{
        grid-column: 3;
        grid-row: 2;
        max-height: 250px;
        max-width: 300px;
    }

}

.shopping-bag{
    display: flex;
    align-items: center;
}
    
    .shopping-card{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }


    .shopping-card img{
        width: 150px;
        height: auto;
    }

    .opplysninger{
        justify-content: center;
        

    }

    .opplysninger form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

    }

    .opplysninger #Fornavn{
        grid-column: 1;
        grid-row: 1;

    }

    .opplysninger #Etternavn{
        grid-column: 2;
        grid-row: 1;
    }


    .opplysninger #Gateadresse{
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .opplysninger #Postnummer{
        grid-column: 1;
        grid-row: 3;
    }

    .opplysninger #Poststed{
        grid-column: 2;
        grid-row: 3;
    }

    .opplysninger #Lagre{
        grid-column: 1 / span 2;
        grid-row: 4;
        width: 100px;
        
    }

    .opplysninger a{
        grid-column: 1 / span 2;
        grid-row: 5;
    }


    .leveringsvalg{
        align-items: center;
        width: 100%;

    }

    .leveringsvalg .levering-kort-1{
        display: flex;
        flex-direction: row;
        padding: 0.5rem;

        width: 100%;
        
    }

    .leveringsvalg .levering-kort-2{
        display: flex;
        flex-direction: row;
        padding: 0.5rem;

        width: 100%;
    }

    .leveringsvalg .levering-kort-3{
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        width: 100%;
    }

    .betaling {
        display: flex;
        align-items: center;
    }


    .betaling form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 1rem
    }


    .betaling form #Kortnummer{
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .betaling form #Utløpsdato{
        grid-column: 1;
        grid-row: 2;
    }

    .betaling form #CVC{
        grid-column: 2;
        grid-row: 2;
    }
    
    

    .leveringsvalg ul{
        border: 1px solid black;
        list-style: none;
        width: 100%;
    }

    .å-betale{
        text-align: center;
    }

    .å-betale button{
        width: 412.533px;
        
    }

    .å-betale p{
        text-align: center;
    }

    .nyhetsbrev{
        display: flex;
        flex-direction: column;
    }
    
    .å-betale form > #label-1{
        flex-direction: row-reverse;
        justify-content: center;
    }

    .å-betale form > #label-2{
        flex-direction: row-reverse;
        justify-content: center;
    }

}