html{

}

#global-header{
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        color: black;
        gap: 2rem;
    }
    
}

#Logo{
    font-size: 30px;
}

#global-header nav ul{
    text-decoration: none;
    list-style: none;
    padding: 0rem;
}

#Banner{
    width: auto;
    height: 350px;
    background-color: gray;
    display: flex;
    align-items: end;
    flex-direction: column;
    a{
        align-items: end;
        background-color: white;
        padding: 1rem;
    }

    p{
        align-items: end;
    }
}

 

#main{
    display: flex;
    flex-wrap: wrap;
}


#populære-produkter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    h2, p{
        width: 100%;
    }
}

.tre-valg{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    border: 2px solid black;
    
    h3{
        text-align: center;
    }

    
}


.produkt-kort{
    display: flex;
    flex-direction: column;


    img{
        width: 100%;
        height: 100%;
    }
}

.kategori-kort
{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 6rem;
    margin-bottom: 1rem;
    align-items: flex-start;

    h3{
        margin: 0;
    }

    img{
        width: 150px;
        height: auto;
    }
    
}

.Snarveier{

    ul{
        list-style: none;
    }
}


.sosiale-medier{

    ul{
        list-style: none;
        text-decoration: none;

        a{
            color: black;

        }
    }
}


main > nav > ol{
    display: flex;
    gap: 1rem;
}

.wedding-dress{
    flex-direction: column;
    flex-wrap: wrap;
   
    img{
        width: 70%;
        height: 70%;
    }
}

.wedding-dress article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

}

main > aside {
    flex-direction: column;

    img{
        width: 100%;
        height: 100%;
    }
}

.shopping-bag{
    flex-direction: column;
    flex-wrap: wrap;

    img{
        text-align: center;
        width: 100%;
        height: 100%;
    }
}


.shopping-bag article{
    padding: 0.5rem;
}


.opplysninger{
    display: flex;
    flex-wrap: wrap;

    form{
        display: flex;
        flex-direction: column;
        width: 300px;

    }
    form > input{
        flex-wrap: wrap;
        padding: 1rem;
        margin: 0.3rem;
    }

    form > #Lagre{
        height: 50px;
        width: 75px;
    }


}

.leveringsvalg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    form label{
        display: flex;
        flex-direction: column;
    }
}

.betaling{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    form label{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    

    }

    form input{
        flex-wrap: wrap;
        padding: 1.2rem;
    }

    form #Utløpsdato{
        width: auto;
    }

    button{
        width: 100px;
        height: 50px;
        background-color: darkgray;
    }

    .å-betale form {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }
}

@media only screen and (min-width: 800px) {

    #global-header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;


    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

        form{
            display: flex;
            flex-direction: row;
            
        }

        button{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        

        nav ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            gap: 7rem;
        }
    }

    .logo-section{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .sosiale-medier ul{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    
    .populære-produkter{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

    }

    .produkt-kort{
        display: flex;
        flex-direction: column;
        flex: 1 1 30%;
        flex-basis: 33%;
        box-sizing: border-box  ;
        
    }


    .tre-valg{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;


    }


    

    .kategori-kort-1{

    }
    

}